:root {
  --color-white: #ffffff;
  --color-dark: #000000;
  --font-size-title: 2.5rem;
  --font-size-description: 1.2rem;
  --padding: 20px;
}

.acidity-container {
  background: url("/images/backgroundAcidity.jpg") center/cover no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding);
}

.canvas-wrapper {
  width: 100%;
  height: 50vh;
  position: relative;
  overflow: hidden;
  border: 2px solid white;
}

.acidity-canvas {
  width: 100%;
  height: 100%;
}

.acidity-title,
.acidity-description {
  color: var(--color-white);
  text-align: center;
  margin: 10px 0;
}

.acidity-title {
  font-size: var(--font-size-title);
}

.acidity-description {
  font-size: var(--font-size-description);
  max-width: 800px;
  text-align: justify;
  margin-bottom: 30px;
}

/* Diseño responsivo */
@media (max-width: 768px) {
  .acidity-title {
    font-size: 2rem;
  }

  .acidity-description {
    font-size: 1rem;
  }

  .canvas-wrapper {
    height: 60vh;
  }
}

@media (max-width: 480px) {
  .acidity-title {
    font-size: 1.5rem;
  }

  .acidity-description {
    font-size: 0.9rem;
  }

  .canvas-wrapper {
    height: 50vh;
  }
}
