.acidity-container {
  background: url("/images/backgroundAcidity.jpg") center/cover no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.acidity-title {
  font-size: 2.5rem;
  color: #38a3a5;
  text-align: center;
  margin: 40px 0 20px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.acidity-introduction {
  padding: 24px;
  border-radius: 14px;
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 1800px;
  
}

.Introduction {
  font-size: 2rem;
  color: #c7f9cc;
  margin-bottom: 10px;
  font-weight: normal;
  letter-spacing: 1.5px;
}

.acidity-description {
  font-size: 1.2rem;
  color: #ffffff;
  text-align: justify;
  line-height: 1.8;
  padding: 14px;
}

.Fish,
.River-Scene {
  width: 90%;
  height: 60vh;
  margin: 40px auto;
  overflow: hidden;
  border: 2px solid #57cc99;
  position: relative;
  padding: 20px;
}

/* ==== Título de la Sección de la Escena ==== */
.Scene-title {
  font-size: 2rem;
  color: #c7f9cc;
  text-align: left;
  margin: 20px 0 20px; /* Espacio superior e inferior */
  font-weight: bold;
  letter-spacing: 2px;
}

/* ==== Sección de Explicación de la Acidificación ==== */
.acidity-explanation {
  padding: 24px;
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 1800px;
  border-radius: 14px;
}

.acidity-explanation h2 {
  font-size: 2rem;
  color: #c7f9cc;
  text-align: left;
  margin-bottom: 20px;
  font-weight: bold;
}

.acidity-explanation p {
  font-size: 1.2rem;
  color: #ffffff;
  line-height: 1.6;
  text-align: justify;
}
