.container-page {
  min-height: 100vh; 
  padding: 1rem;
  box-sizing: border-box;
  background: url("/images/backgroundAcidity.jpg") no-repeat center center fixed;
  background-size: cover; /* Evita que la imagen de fondo se distorsione */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Asegura que el contenido comience desde arriba */
  overflow: hidden; /* Evita que el contenido se desborde */
  margin-left: auto; /* Centra el contenedor */
  margin-right: auto; /* Centra el contenedor */
}

/* Estilos para el contenedor de main */
main {
  width: 100%;
  max-width: 1600px; /* Limita el tamaño máximo del contenedor */
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;

}

/* Estilos para el título */
.acidity-information h2 {
  font-size: 2rem;
  color: #c7f9cc;
  margin-bottom: 20px;
  font-weight: bold;
  border-bottom: 2px solid #38a3a5;
  text-align: center;
}

/* Estilo para la grilla de la información */
.acidity-information-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);  /* Dos columnas iguales */
  gap: 20px;
  width: 100%;
  padding: 1rem; /* Añadimos padding para evitar que los elementos se peguen */
  box-sizing: border-box;

  margin-top: 20px;  /* Añadimos un margen superior */
}

/* Estilo para cada elemento de información */
.acidity-information-item {
  padding: 1.5rem;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 350px; 
  max-width: 100%; 
  margin-left: auto; 
  margin-right: auto;
}

.acidity-information-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  margin-top: 15px; 
}

@media (max-width: 768px) {
  .acidity-information-container {
    grid-template-columns: 1fr; 
  }

  .acidity-information-item {
    padding: 1rem;  
  }
}

.acidity-information-item h3 {
  font-size: 1.5rem;
  color: #c7f9cc;
  margin-bottom: 10px;
  font-weight: bold;
}

.acidity-information-item p {
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.6;
  margin-bottom: 15px;
}
