.container-pollution{  
  background: url(/images/backgroundPollution.jpg) no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0px;
}

  .text-container {
    padding: 15px;
    font-size: 1.2rem;
    color: #deecff; 
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
    
    font-weight: 500;
    font-style: normal;
  }