.container {
  display: flex;
  flex-direction: column; 
  background: url(/images/backgroudHome.png) no-repeat center center fixed; 
  background-size: cover;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  padding: 20px; 
  box-sizing: border-box; 
}
.container-content {
  text-align: center; 
  padding: 20px; 
}
.team-description {
    background-color: rgba(255, 255, 255, 0.9); 
    border: 1px solid #000000; 
    border-radius: 5px; 
    padding: 15px; 
    margin-top: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    text-align: justify;
  }

.team-description p {
  color:#000000
}
  




