header{
    padding: 1rem;
    background-color: #181818;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 999;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Vollkorn", serif;
    font-weight: 700;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: large;
    border-bottom: 5px solid transparent;
}

.btnform{
    background-color: #181818;
    color: white;
    border: none;
    font-size: large;
    border-bottom: 5px solid transparent;
    font-family: "Vollkorn", serif;
    font-weight: 700;
    padding: 0%;
    cursor: pointer;
}

.btnform:hover{
    width: 100%;
    border-bottom: 5px solid #8C1CD1;
}
nav a:hover{
    border-bottom: 5px solid #8C1CD1;
}