html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1{
  font-weight: 900;
  font-size: 45px;
}

h2{
  font-weight: 700;
  font-size: 23px;
}

p{
  font-weight: 500;
  font-size: 21px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.container {
  height: 100vh;
}