.loginpart1{
    position: relative;
    z-index: 1;
    background: #9488e1;
    max-width: 300px;
    margin: 0 auto 300px;
    padding: 35px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: left;
}
.textbox{
    background-color: rgb(235, 235, 230);
    border-color: rgb(2, 17, 30);
    border-radius: 100px;
    width: 90%;
    padding:10px;
    border-width: 4px;
    margin-bottom: 15px;
}

.logo-height{
    width: 50%;
    height: 140px;
    margin-top: 20px;
    margin: 0 auto 10px;
    margin-bottom: 5px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: relative;
}

.btnform{
    background-color: rgb(179, 172, 219);
    border-color: rgb(2, 17, 30);
    border-radius: 100px;
    width: 100%;
    padding:10px;
    border-width: 1px;
    margin-bottom: 25px;
}
